body{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.container {
    width: 1200px;
    margin: 0px auto;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    text-align: left;
    padding: 0 30px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}

a {
    color: black;
    
}

.col3 {
    width: 400px;
    float: right;
}

.col3 img {
    width: 400px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 2px;
}

.col3 .pieimagen {
    font-size: 12px;
    padding: 2px;
    margin: 0;
    text-align: center;

}

.col3 p {
    padding: 30px;
    font-size: 20px;

}

.autor {
    clear: both;
    text-align: center;
    font-size: 30px;
    margin: 30px;
}



.yo {
    text-align: center;
    

}

.yo img {
    border-radius: 50%;
    height: 500px;


}

.yo p {

    font-size: 30px;
    text-align: center;
}

.yo ul li {
    font-size: 30px;
    list-style: none;
    text-align: left;
}

.yo ul li img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.autor img{
    height: 60px;
    height: 60px;
    text-align: center;
    border-radius: 0;

}

